.header-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0;
    z-index: 110;
    box-sizing: border-box;
    height: 100px;
}
.header-top{
    background-color: #3c4536;
    padding: 0 0 0.25em 0;
    flex-grow: 1;
    
}
.header-title{
    text-align: center;
}

.header-title p{
    color: #FFFFFF;
    margin: auto;
    padding-top: 8px;
    font-size: 14px;
}

.header-left{
    width: 7em;
}

.header-cart{
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    margin-top: 5px;
}

.header-cart img{
    height: 20px;
    padding: 0 8px 0 8px;
}

.header-cart p{
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.header-cart-trolley, .header-cart-heart, .header-cart-login{
    margin: 0;
}

.header-bottom-logo{
    height: 100%;
    width: 83px;
}

.header-bottom-logo img{
    height: 100%;
    width: 100%;
    padding: 25px 0 0 25px;
}

.header-bottom-link{
    margin-top: 1em;
}

.header-bottom-link .link{
    color: #707070 ;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    padding: 0 22px;
}

.header-bottom-link .link:hover{
    font-weight: bold;
    cursor: pointer;
}

.form-control.search{
    background-color: #a1a1a1;
}

.form-control.search{
    background-color: #a1a1a1;
}


